@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

@keyframes text_moviment{
    0%
{
   opacity:0;
   transform:translateX(-50px);
}
}

:root{
--cor1:#0F3328;
--cor2:#009F93;
--color3:#005A52;
--color4:#9A031E;
--color5:#C40528;
--color6:rgb(235, 236, 215,0.581);
}

*{
    margin:0px; padding:0px;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family:"Noto Sans", sans-serif;
    background:#24C2B0;
    height:100vh;
}

html{
font-size:16px;
}

.redbar {background:var(--color4); height:22px;}

section{
    max-width: 95%;
    margin: 5% auto 0px auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.381);
}

section .slide_container .slide{
    
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
    padding:20px 13%;
    padding-bottom:70px;
    max-width: 100%;
    height:60vh;
}

section .slide_container .slide .slide, .slide > div {
    animation: text_moviment 0.4s linear 0.4s backwards;
    background: rgba(0, 0, 0, 0.373);
    width: 50vh;
    padding: 2px 7px 22px 21px;
}




section .slide_container .slide .slide, .slide > div h3 {
   font-size:2.7rem;
   color:var(--cor1);
   margin-bottom: 5px;
   background:var(--color6);
   margin-right: 13px;

}

section .slide_container .slide .slide, .slide > div p {
    font-size:1.4rem;
    color:white;
    line-height: 30px;

}

section .slide_container .slide .slide, .slide > div button{
    margin-top:10px;
    display:inline-block;
    background:var(--cor2);
    color:white;
    font-size: 1.1rem;
    padding: 9px 40px;
    border-radius:5px;
    border:2px solid var(--cor2) ;
    cursor:pointer;

}

section .slide_container .slide .slide, .slide > div button:hover{
    background:var(--color3);
    border:2px solid var(--color3);
    color:white;
}

section .slide_container{
    display:none;
}


section .slide_container.active{
    display:block;
}

section .slide_container:nth-child(1) .slide{
    background: url("./imgs/1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

section .slide_container:nth-child(2) .slide{
    background: url("./imgs/2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
   
}

section .slide_container:nth-child(3) .slide{
    background: url("./imgs/3.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
    
}

section .slide_container:nth-child(4) .slide{
    background: url("./imgs/4.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  
}

section .slide_container:nth-child(5) .slide{
    background: url("./imgs/5.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
    
}

section div#prev, section div#next{
    position:absolute;
      top:47%;
      transform:translateY(-50%);
      color:white;
      background:var(--color4);
      padding:7px 19px;
      font-size:31px;
      text-align:center;
      vertical-align: middle;
      cursor:pointer;
      font-weight: bolder;
      border-radius:50px;
}

section div#prev:hover, section div#next:hover{
    background:var(--color5);
    color:#FFDF12;
}

section div#prev{
    left:5%;
}

section div#next{
    right:5%;
}


footer{
    background: var(--color4);
    color: white;
    padding:10px 0px;
    text-align: center;
    font-size: 1.2rem;
    position:absolute;
    bottom:0px;
    width:100%;

}







@media(max-width:861px){
    section .slide_container .slide .slide, .slide > div h3 {
        font-size:2.2rem;
     }
     section .slide_container .slide .slide, .slide > div p {
        font-size:1.1rem; 
    }
}

@media(max-width:696px){
section{max-width:99.5%;}
section div#prev {
    left: 2%;
}
section div#next {
    right: 2%;
}

section div#prev, section div#next{
    padding:12px 13px;
    font-size: 20px;
}


}

@media(max-width:594px){
    section .slide_container .slide .slide, .slide > div{
        width:70%;
    }
}

@media(max-width:508px){

    section .slide_container .slide .slide, .slide > div p {
        font-size:1.0rem; 
    }
    section .slide_container .slide .slide, .slide > div {
        margin-bottom: auto;
        width:100%;
    }
    section .slide_container .slide {
        padding: 3px 1%;
    }
    section div#prev, section div#next {
        top: 60%;
    }
}

@media(max-height:654px){
    section .slide_container .slide {
        height: 95vh;
    }
    section div#prev, section div#next {
        top: 91%;
    }
    footer{
        position:static;
        margin-top:20px;
        padding:2px 0px;
        font-size: 17px;
      }
}

@media(max-width:340px){
    section .slide_container .slide {
        height: 95vh;
    }
    section div#prev, section div#next {
        top: 91%;
    }

    
    section .slide_container .slide .slide, .slide > div p {
        font-size: 0.9rem;
        line-height: 26px;
    }
    @media (max-width: 861px){}
section.slide_container .slide .slide, .slide > div h3 {
    font-size: 1.9rem;
}

}

@media(max-width:300px){
    section .slide_container .slide {
        height: 95vh;
    }
    section div#prev, section div#next {
        top: 91%;
    }

    
    section .slide_container .slide .slide, .slide > div p {
        font-size: 0.7rem;
        line-height: 26px;
    }
    @media (max-width: 861px){}
section.slide_container .slide .slide, .slide > div h3 {
    font-size: 1.5rem;
}

section .slide_container .slide .slide, .slide > div button {
    font-size: 0.8rem;   
}
}

@media(max-height:460px){
    section .slide_container .slide {
        height: 95vh;
    }
    section div#prev, section div#next {
        top: 91%;
    }

    
    section .slide_container .slide .slide, .slide > div p {
        font-size: 0.7rem;
        line-height: 26px;
    }
    @media (max-width: 861px){}
section.slide_container .slide .slide, .slide > div h3 {
    font-size: 1.5rem;
}

section .slide_container .slide .slide, .slide > div button {
    font-size: 0.8rem;   
}
}



@media(max-width:342px){
    section .slide_container .slide{
        height:95vh;
    }
    section div#prev, section div#next {
        top: 97%;}
}



@media(max-width:342px){
    section .slide_container .slide .slide, .slide > div {
        
        background-color: rgba(0, 0, 0, 0.213);
       
    }
    footer{
        position:static;
        margin-top:20px;
        padding:2px 0px;
        font-size: 17px;
      }

}

@media(max-width:316px){
    section .slide_container .slide .slide, .slide > div {
        padding: 0px 4px 6px 10px;
    }
    footer{font-size:14px;}
}





   


